// KEY FRAMES //

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shadow-loop {
  0% {
    text-shadow: 20px 20px 5px #ff99cc36, -20px -20px 5px #64a5b739;
  }
  8% {
    text-shadow: 10px 25px 5px #ff99cc36, -10px -25px 5px #64a5b739;
  }
  16% {
    text-shadow: 0px 30px 5px #ff99cc36, -0px -30px 5px #64a5b739;
  }
  24% {
    text-shadow: -10px 25px 5px #ff99cc36, 10px -25px 5px #64a5b739;
  }
  32% {
    text-shadow: -20px 20px 5px #ff99cc36, 20px -20px 5px #64a5b739;
  }
  40% {
    text-shadow: -30px 0px 5px #ff99cc36, 30px -0px 5px #64a5b739;
  }
  48% {
    text-shadow: -20px -20px 5px #ff99cc36, 20px 20px 5px #64a5b739;
  }
  56% {
    text-shadow: -10px -25px 5px #ff99cc36, 10px 25px 5px #64a5b739;
  }
  64% {
    text-shadow: -0px -30px 5px #ff99cc36, 0px 30px 5px #64a5b739;
  }
  72% {
    text-shadow: 10px -25px 5px #ff99cc36, -10px 25px 5px #64a5b739;
  }
  80% {
    text-shadow: 20px -20px 5px #ff99cc36, -20px 20px 5px #64a5b739;
  }
  88% {
    text-shadow: 30px 0px 5px #ff99cc36, -30px 0px 5px #64a5b739;
  }
  100% {
    text-shadow: 20px 20px 5px #ff99cc36, -20px -20px 5px #64a5b739;
  }
}

// FONTS //

@font-face {
  font-family: "Ikaros-regular";
  src: url(/fonts/Ikaros-Regular.otf);
}
@font-face {
  font-family: "Ikaros-light";
  src: url(/fonts/Ikaros-Light.otf);
}

// MEDIA //

@media screen and (max-width: 760px) {
  nav {
    flex-direction: column;
  }
  .buttons {
    padding: 20px;
  }
  #welcome {
    font-size: 20px;
  }
}
