@charset "UTF-8";
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 110px 40px 10px rgba(255, 153, 204, 0.2117647059), -80px -40px 10px rgba(100, 165, 183, 0.2235294118);
  }
}
@-webkit-keyframes fadeEffect2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 55px 20px 5px rgba(255, 153, 204, 0.2117647059), -40px -20px 5px rgba(100, 165, 183, 0.2235294118);
  }
}
@keyframes fadeEffect2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 55px 20px 5px rgba(255, 153, 204, 0.2117647059), -40px -20px 5px rgba(100, 165, 183, 0.2235294118);
  }
}
@-webkit-keyframes hb-smashed {
  0% {
    width: 60px;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
@keyframes hb-smashed {
  0% {
    width: 60px;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes slide-up {
  0% {
    align-items: flex-end;
    opacity: 0;
  }
  100% {
    align-items: center;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    align-items: flex-end;
    opacity: 0;
  }
  100% {
    align-items: center;
    opacity: 1;
  }
}
@-webkit-keyframes vibrate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@keyframes vibrate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@font-face {
  font-family: "Ikaros-regular";
  src: url(/fonts/Ikaros-Regular.otf);
}
@font-face {
  font-family: "Ikaros-light";
  src: url(/fonts/Ikaros-Light.otf);
}
/*@keyframes shadow-loop {
   ROTATING SHADOWS 

  0% {
    text-shadow: 20px 20px 5px #ff99cc36, -20px -20px 5px #64a5b739;
  }
  8% {
    text-shadow: 10px 25px 5px #ff99cc36, -10px -25px 5px #64a5b739;
  }
  16% {
    text-shadow: 0px 30px 5px #ff99cc36, -0px -30px 5px #64a5b739;
  }
  24% {
    text-shadow: -10px 25px 5px #ff99cc36, 10px -25px 5px #64a5b739;
  }
  32% {
    text-shadow: -20px 20px 5px #ff99cc36, 20px -20px 5px #64a5b739;
  }
  40% {
    text-shadow: -30px 0px 5px #ff99cc36, 30px -0px 5px #64a5b739;
  }
  48% {
    text-shadow: -20px -20px 5px #ff99cc36, 20px 20px 5px #64a5b739;
  }
  56% {
    text-shadow: -10px -25px 5px #ff99cc36, 10px 25px 5px #64a5b739;
  }
  64% {
    text-shadow: -0px -30px 5px #ff99cc36, 0px 30px 5px #64a5b739;
  }
  72% {
    text-shadow: 10px -25px 5px #ff99cc36, -10px 25px 5px #64a5b739;
  }
  80% {
    text-shadow: 20px -20px 5px #ff99cc36, -20px 20px 5px #64a5b739;
  }
  88% {
    text-shadow: 30px 0px 5px #ff99cc36, -30px 0px 5px #64a5b739;
  }
  100% {
    text-shadow: 20px 20px 5px #ff99cc36, -20px -20px 5px #64a5b739;
  }
}
*/
@media screen and (min-width: 430px) {
  header #desktop {
    background-color: black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header #desktop #desktop-nav {
    display: flex;
    justify-content: center;
  }
  header #phone {
    display: none;
  }
  .content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  section {
    min-height: 85vh;
  }
  section p {
    font-family: "ikaros-light";
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  section h2 {
    font-size: 7em;
  }
  section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #welcome-section {
    min-height: 80vh;
  }
  #welcome-section #lpb {
    font-size: 5em;
    -webkit-animation: fadeEffect 2s ease-in-out forwards;
            animation: fadeEffect 2s ease-in-out forwards;
  }
}
#about-me {
  min-height: 80vh;
}
#about-me .content {
  flex-direction: row;
  justify-content: space-between;
  min-width: 60vw;
}
#about-me .content article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#about-me .content #picture {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10vw;
}
#about-me .content img {
  border-radius: 50%;
  max-width: 25vw;
}
#about-me .content h2 {
  font-size: 7em;
  text-align: start;
}
#about-me .content p {
  font-size: 1em;
}

@media screen and (max-width: 430px) {
  body {
    background-color: black;
  }
  section {
    min-height: 85vh;
  }
  section p {
    font-family: "ikaros-light";
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  section h2 {
    font-size: 2.5em;
  }
  .content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  header {
    margin: auto;
  }
  #welcome-section .content {
    -webkit-animation: fadeEffect2 2s ease-in-out forwards;
            animation: fadeEffect2 2s ease-in-out forwards;
  }
  #welcome-section .content #lpb {
    font-size: 2.3em;
  }
  #welcome-section .content p {
    font-size: 0.6em;
  }
  #about-me .content {
    flex-direction: column-reverse;
    justify-content: space-between;
    min-width: 1vw;
  }
  #about-me .content #picture {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #about-me .content img {
    border-radius: 50%;
    max-width: 40vw;
  }
  #about-me .content h2 {
    font-size: 2.5em;
    text-align: start;
  }
  #about-me .content p {
    font-size: 0.6em;
  }
  #contact .content h2 {
    font-size: 2.2em;
  }
  #contact .content h3 {
    font-size: 0.5em;
  }
  #contact .content #icons .icon-box div {
    height: 4vh;
  }
  #contact .content #icons .icon-box div a img {
    min-width: 0.1vw;
    max-width: 7vw;
  }
  header {
    border-radius: 0px 0px 5px 5px;
  }
  #phone {
    display: flex;
    border-radius: 20px;
  }
  #phone #dropdown {
    display: flex;
    border-radius: 20px;
  }
  #phone #dropdown #hb-menu {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  #phone #dropdown #hb-menu hr {
    width: 60px;
  }
  #phone #dropdown #dropdown-content {
    display: none;
  }
  #phone #dropdown:hover hr {
    -webkit-animation: hb-smashed 1s forwards;
            animation: hb-smashed 1s forwards;
  }
  #phone #dropdown:hover #dropdown-content {
    max-width: 50vw;
    display: block;
    position: absolute;
    top: 100%;
    right: -10%;
    left: -10%;
    background-color: black;
    font-family: "Ikaros-light";
    color: rgb(245, 240, 240);
    text-decoration: none;
    justify-content: center;
    border-radius: 5px;
  }
  #phone #dropdown:hover a {
    font-size: 0.8em;
  }
  #desktop {
    display: none;
  }
  #desktop #desktop-nav {
    display: none;
  }
  #desktop #desktop-nav .buttons {
    display: none;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  scroll-behavior: smooth;
}

header {
  flex-direction: row wrap;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 9999;
}
header #desktop {
  background-color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header #desktop #desktop-nav {
  display: flex;
  justify-content: center;
}
header #desktop a {
  display: flex;
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(245, 240, 240);
  font-size: 2vw;
  text-decoration: none;
  justify-content: center;
}
header #desktop a:hover {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}
header #desktop a:after {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}

#phone .drpdwn,
#dropdown .drpdwn,
#dropdown-content .drpdwn {
  display: flex;
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(245, 240, 240);
  font-size: 2vw;
  text-decoration: none;
  justify-content: center;
  border-bottom: 1px solid white;
  border-radius: 5px;
}
#phone a:hover,
#dropdown a:hover,
#dropdown-content a:hover {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}
#phone a:hover #dropdown,
#dropdown a:hover #dropdown,
#dropdown-content a:hover #dropdown {
  display: none;
  margin: auto;
}
#phone a:hover #dropdown #dropdown:hover #dropdown-content,
#dropdown a:hover #dropdown #dropdown:hover #dropdown-content,
#dropdown-content a:hover #dropdown #dropdown:hover #dropdown-content {
  display: inline;
}
#phone a:hover #dropdown #dropdown-content,
#dropdown a:hover #dropdown #dropdown-content,
#dropdown-content a:hover #dropdown #dropdown-content {
  display: inline;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section {
  align-items: center;
  background-image: linear-gradient(black 60%, rgb(16, 16, 16) 90%);
}
#welcome-section .welcomebox {
  display: flex;
}
#welcome-section .content #lpb {
  text-transform: uppercase;
  letter-spacing: 5px;
}
#welcome-section h2 {
  margin: 0px;
}
#welcome-section p {
  margin: 0px;
  font-family: "ikaros-light";
  font-size: 1.5em;
  color: rgb(233, 233, 233);
  text-align: center;
  text-shadow: -3px 3px 8px rgb(42, 41, 41);
}

#menu:hover {
  transform: rotateX(90deg);
}

#about-me {
  background-image: linear-gradient(rgb(255, 255, 255) 75%, rgb(228, 228, 228) 95%);
  align-items: center;
}
#about-me h2 {
  background-color: black;
  color: white;
  margin: 0px;
}
#about-me p {
  color: black;
  font-family: "ikaros-regular";
  font-size: 50px;
}
#about-me #picture {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}
#about-me #picture img {
  width: auto;
  max-width: 15vw;
  height: auto;
  max-height: 15vw;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgb(32, 32, 32);
}
#about-me #picture img:hover {
  box-shadow: 0px 0px 4px rgb(32, 32, 32);
  -webkit-animation: spin-in 1s ease-in-out forwards;
          animation: spin-in 1s ease-in-out forwards;
  animation-direction: reverse;
}

#projects {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black 60%, rgb(16, 16, 16) 90%);
  align-items: center;
}
#projects a {
  text-decoration: none;
  font-family: "ikaros-regular";
  color: white;
  font-style: italic;
  font-weight: bold;
}
#projects a:hover {
  text-decoration: overline;
}

#resumé {
  background-image: linear-gradient(rgb(255, 255, 255) 75%, rgb(228, 228, 228) 95%);
}
#resumé .resumé-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.675);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  visibility: hidden;
  transition: 2s forwards;
}
#resumé .resumé-window:target {
  visibility: visible;
  opacity: 1;
}
#resumé .resumé-window div {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  justify-content: center;
  align-items: center;
}
#resumé .resumé-window div img {
  max-width: 100%;
  max-height: 90vh;
}
#resumé .resumé-window .window-close {
  color: black;
  font-family: "ikaros-light";
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
#resumé .resumé-window .window-close:hover {
  color: grey;
}
#resumé h2 {
  color: black;
}
#resumé p {
  color: black;
  font-family: "ikaros-regular";
  max-width: 40vw;
}
#resumé a {
  text-decoration: none;
}
#resumé a :hover {
  text-decoration: overline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

#contact {
  background-image: linear-gradient(black 60%, rgb(16, 16, 16) 90%);
  text-align: center;
}
#contact a {
  font-family: "ikaros-regular";
  text-decoration: none;
  color: white;
  padding-top: 3vh;
}
#contact a:hover {
  text-decoration: overline;
}
#contact #thesong {
  color: blue;
  text-transform: lowercase;
}
#contact #forloop {
  text-transform: lowercase;
  color: white;
}
#contact h2 {
  margin: 0;
}
#contact h3 {
  font-family: "ikaros-regular";
  color: white;
  letter-spacing: 3px;
  font-size: 0.9em;
}
#contact a {
  padding: 0;
}
#contact #icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50vw;
  margin-top: 5vh;
}
#contact #icons #mail {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
#contact #icons #mail:hover {
  transform: scale(1.2) translate(-1%, 1%);
}
#contact #icons #callme:hover {
  -webkit-animation: vibrate 0.5s infinite;
          animation: vibrate 0.5s infinite;
}
#contact #icons #lkdin {
  transition: transform 1s ease-in-out;
}
#contact #icons #lkdin:hover {
  transform: rotate(180deg);
}
#contact #icons .icon-box {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact #icons .icon-box p {
  font-size: 1vw;
  align-self: bottom;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: slide-up 1s forwards;
          animation: slide-up 1s forwards;
}
.content p {
  color: white;
}

h2 {
  font-family: "Ikaros-regular";
  color: rgb(233, 233, 233);
  text-align: center;
}

#mail {
  font-size: 20px;
  color: rgb(233, 233, 233);
  font-family: "ikaros-light";
}

#form {
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */