@import "_rules.scss";
@import "_desktopscreen.scss";
@import "_phonescreen.scss";
$mainfontthin: "ikaros-light";
$mainfontbold: "ikaros-regular";
$mainfontsizesmal: 50px;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  scroll-behavior: smooth;
}

header {
  flex-direction: row wrap;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 9999;
  #desktop {
    background-color: black;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;

    #desktop-nav {
      display: flex;
      justify-content: center;
    }

    a {
      display: flex;
      padding: 30px;
      font-family: "Ikaros-light";
      color: rgb(245, 240, 240);
      font-size: 2vw;
      text-decoration: none;
      justify-content: center;
    }
    a:hover {
      padding: 30px;
      font-family: "Ikaros-light";
      color: rgb(181, 175, 175);
      text-decoration: overline;
    }
    a:after {
      padding: 30px;
      font-family: "Ikaros-light";
      color: rgb(181, 175, 175);
      text-decoration: overline;
    }
  }
}
#phone,
#dropdown,
#dropdown-content {
  .drpdwn {
    display: flex;
    padding: 30px;
    font-family: "Ikaros-light";
    color: rgb(245, 240, 240);
    font-size: 2vw;
    text-decoration: none;
    justify-content: center;
    border-bottom: 1px solid white;
    border-radius: 5px;
  }
  a:hover {
    padding: 30px;
    font-family: "Ikaros-light";
    color: rgb(181, 175, 175);
    text-decoration: overline;
    #dropdown {
      display: none;
      margin: auto;

      #dropdown:hover #dropdown-content {
        display: inline;
      }
      #dropdown-content {
        display: inline;
      }
    }
  }
}

// SECTIONS //

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section {
  align-items: center;
  background-image: linear-gradient((black) 60%, rgb(16, 16, 16) 90%);
  .welcomebox {
    display: flex;
  }
  .content #lpb {
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
    font-family: "ikaros-light";
    font-size: 1.5em;
    color: rgb(233, 233, 233);
    text-align: center;
    text-shadow: -3px 3px 8px rgb(42, 41, 41);
  }
}

#menu:hover {
  transform: rotateX(90deg);
}

#about-me {
  background-image: linear-gradient(
    rgb(255, 255, 255) 75%,
    rgb(228, 228, 228) 95%
  );
  align-items: center;

  h2 {
    background-color: black;
    color: white;
    margin: 0px;
  }
  p {
    color: black;
    font-family: "ikaros-regular";
    font-size: $mainfontsizesmal;
  }
  #picture {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;

    img {
      width: auto;
      max-width: 15vw;
      height: auto;
      max-height: 15vw;
      border-radius: 50%;
      box-shadow: 0px 0px 1px rgb(32, 32, 32);
    }
    img:hover {
      box-shadow: 0px 0px 4px rgb(32, 32, 32);
      animation: spin-in 1s ease-in-out forwards;
      animation-direction: reverse;
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient((black) 60%, rgb(16, 16, 16) 90%);
  align-items: center;

  a {
    text-decoration: none;
    font-family: "ikaros-regular";
    color: white;
    font-style: italic;
    font-weight: bold;
  }
  a:hover {
    text-decoration: overline;
  }
}

#resumé {
  background-image: linear-gradient(
    rgb(255, 255, 255) 75%,
    rgb(228, 228, 228) 95%
  );
  .resumé-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.675);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    transition: 2s forwards;
    &:target {
      visibility: visible;
      opacity: 1;
    }
    div {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 90vh;
      }
    }
    .window-close {
      color: black;
      font-family: "ikaros-light";
      line-height: 50px;
      font-size: 80%;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 70px;
      text-decoration: none;
      &:hover {
        color: grey;
      }
    }
  }
  h2 {
    color: black;
  }
  p {
    color: black;
    font-family: "ikaros-regular";
    max-width: 40vw;
  }

  a {
    text-decoration: none;
    :hover {
      text-decoration: overline;
      text-decoration-color: black;
    }
  }
}

#contact {
  background-image: linear-gradient((black) 60%, rgb(16, 16, 16) 90%);
  text-align: center;

  a {
    font-family: "ikaros-regular";
    text-decoration: none;
    color: white;
    padding-top: 3vh;
  }
  a:hover {
    text-decoration: overline;
  }
  #thesong {
    color: blue;
    text-transform: lowercase;
  }
  #forloop {
    text-transform: lowercase;
    color: white;
  }
  h2 {
    margin: 0;
  }
  h3 {
    font-family: "ikaros-regular";
    color: white;
    letter-spacing: 3px;
    font-size: 0.9em;
  }
  a {
    padding: 0;
  }

  #icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50vw;
    margin-top: 5vh;
    #mail {
      display: flex;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2) translate(-1%, 1%);
      }
    }
    #callme {
      &:hover {
        animation: vibrate 0.5s infinite;
      }
    }

    #lkdin {
      transition: transform 1s ease-in-out;
      &:hover {
        transform: rotate(180deg);
      }
    }

    .icon-box {
      min-height: 8vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 1vw;
        align-self: bottom;
      }
    }
  }
}
// DIVS //

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-up 1s forwards;
  p {
    color: white;
  }
}

// TEXT //

h2 {
  font-family: "Ikaros-regular";
  color: rgb(233, 233, 233);
  text-align: center;
}

#mail {
  font-size: 20px;
  color: rgb(233, 233, 233);
  font-family: "ikaros-light";
}

#form {
  border-radius: 10px;
}
