@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 110px 40px 3px rgba(255, 153, 204, 0.2117647059), -80px -40px 3px rgba(100, 165, 183, 0.2235294118);
  }
}
@-webkit-keyframes fadeEffect2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 45px 15px 3px rgba(255, 153, 204, 0.2117647059), -30px -15px 3px rgba(100, 165, 183, 0.2235294118);
  }
}
@keyframes fadeEffect2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    text-shadow: 0px 0px 10px rgba(255, 153, 204, 0.2117647059), 0px 0px 10px rgba(100, 165, 183, 0.2235294118);
  }
  100% {
    text-shadow: 45px 15px 3px rgba(255, 153, 204, 0.2117647059), -30px -15px 3px rgba(100, 165, 183, 0.2235294118);
  }
}
@-webkit-keyframes hb-smashed {
  0% {
    width: 12;
  }
  100% {
    width: 5vw;
    opacity: 0.5;
  }
}
@keyframes hb-smashed {
  0% {
    width: 12;
  }
  100% {
    width: 5vw;
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@font-face {
  font-family: "Ikaros-regular";
  src: url(../fonts/Ikaros-Regular.otf);
}
@font-face {
  font-family: "Ikaros-light";
  src: url(../fonts/Ikaros-Light.otf);
}
@media screen and (min-width: 430px) {
  section {
    min-width: 430px;
  }
  section p {
    font-size: 0.9em;
  }
  #welcome-section #lpb {
    font-size: 4em;
    -webkit-animation: fadeEffect 2s ease-in-out forwards;
            animation: fadeEffect 2s ease-in-out forwards;
  }
  #welcome-section p {
    align-self: center;
    margin: 0px;
  }
  #about-me {
    padding-top: 10vh;
  }
  #about-me .content {
    flex-direction: row;
    justify-content: space-between;
  }
  #about-me .content #article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #about-me .content #article #about {
    display: flex;
    flex-direction: column;
  }
  #about-me .content #article #about h2 {
    font-size: 4em;
    text-transform: uppercase;
  }
  #about-me .content #article #about p {
    font-size: 0.9em;
  }
  #about-me .content #article iframe {
    align-self: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  #about-me .content .clickIG {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10vw;
  }
  #about-me .content .clickIG #picture {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #about-me .content .clickIG #ig-link {
    border-radius: 50%;
    max-width: 25vw;
  }
  #about-me .content .clickIG #arrow {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  #about-me .content .clickIG #arrow #arrow1 {
    width: 3vw;
  }
  #about-me .content .clickIG #arrow p {
    margin-top: 2vh;
  }
  #projects {
    padding-top: 10vh;
  }
  #projects .content #video-text h2 {
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 3vh;
  }
  #resume {
    padding-top: 10vh;
  }
  #resume .content {
    flex-direction: row;
  }
  #resume #skills {
    max-width: 25vw;
  }
  #resume #skills span {
    min-height: 3vh;
  }
  #resume h2 {
    text-transform: uppercase;
    font-size: 4em;
  }
  #contact h2 {
    text-transform: uppercase;
    font-size: 4em;
  }
  #contact #icons {
    flex-direction: row;
  }
  #contact #icons p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 430px) {
  header {
    border-radius: 0px 0px 5px 5px;
  }
  #phone {
    display: flex;
    border-radius: 20px;
  }
  #phone #dropdown {
    display: flex;
    border-radius: 20px;
  }
  #phone #dropdown #hb-menu {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  #phone #dropdown #hb-menu hr {
    width: 12vw;
  }
  #phone #dropdown #dropdown-content {
    display: none;
  }
  #phone #dropdown:hover hr {
    -webkit-animation: hb-smashed 1s forwards;
            animation: hb-smashed 1s forwards;
  }
  #phone #dropdown:hover #dropdown-content {
    max-width: 54vw;
    display: block;
    position: absolute;
    top: 100%;
    right: -10%;
    left: -10%;
    background-color: black;
    font-family: "Ikaros-light";
    color: rgb(245, 240, 240);
    text-decoration: none;
    justify-content: center;
    border-radius: 5px;
  }
  #phone #dropdown:hover a {
    font-size: 0.5em;
    text-transform: uppercase;
  }
  #desktop {
    display: none;
  }
  #desktop #desktop-nav {
    display: none;
  }
  #desktop #desktop-nav .buttons {
    display: none;
  }
  section {
    min-width: 310px;
  }
  section p {
    font-size: 0.5em;
  }
  .content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  header {
    margin: auto;
  }
  #welcome-section #lpb {
    font-size: 1.1em;
    -webkit-animation: fadeEffect2 2s ease-in-out forwards;
            animation: fadeEffect2 2s ease-in-out forwards;
  }
  #welcome-section p {
    align-self: center;
    margin: 0px;
    text-shadow: -3px 3px 8px rgb(42, 41, 41);
  }
  #about-me .content {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #about-me .content #article {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  #about-me .content #article p {
    font-size: 0.5em;
    margin: 0;
  }
  #about-me .content #article #about h2 {
    font-size: 1.1em;
  }
  #about-me .content #article #about p {
    font-size: 0.5em;
  }
  #about-me .content #article iframe {
    margin-top: 3vh;
    max-width: 64vw;
    order: 1;
  }
  #about-me .content .clickIG #picture {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1vh;
  }
  #about-me .content .clickIG #picture p {
    font-size: 0.5em;
    text-decoration: underline;
    margin: 0;
  }
  #about-me .content .clickIG #ig-link {
    border-radius: 50%;
    max-width: 40vw;
  }
  #about-me .content .clickIG #arrow {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  #about-me .content .clickIG #arrow #arrow1 {
    width: 3vw;
    margin-bottom: 0.5vh;
  }
  #about-me .content .clickIG #arrow p {
    font-size: 0.5em;
    margin: 0;
  }
  #projects .content {
    max-width: 50vw;
  }
  #projects h2 {
    font-size: 1.1em;
  }
  #resume .content {
    flex-flow: column-reverse;
  }
  #resume .content #skills {
    align-self: center;
    font-size: 0.5em;
  }
  #resume .content #skills span {
    min-height: 2vh;
    min-width: 4vw;
  }
  #resume .content h2 {
    font-size: 1.1em;
    padding-top: 5vh;
  }
  #resume .content p {
    max-width: 64vw;
  }
  #contact .content a h2 {
    font-size: 1.1em;
  }
  #contact .content p {
    font-size: 0.5em;
  }
  #contact .content #icons {
    flex-direction: column;
  }
  #contact .content #icons .icon-box div {
    height: 4vh;
  }
  #contact .content #icons .icon-box div a img {
    min-width: 0.1vw;
    max-width: 7vw;
  }
  #contact .content #icons .icon-box div p {
    font-size: 0.5em;
  }
}
@font-face {
  font-family: "Ikaros-regular";
  src: url(./fonts/Ikaros-Regular.otf);
}
@font-face {
  font-family: "Ikaros-light";
  src: url(./fonts/Ikaros-Light.otf);
}
h2 {
  font-family: "Ikaros-regular";
  text-align: center;
}

p {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  margin: 0%;
}
body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  text-transform: uppercase;
}
body section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
body section .content p {
  font-family: "Ikaros-light";
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header {
  flex-direction: row wrap;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1;
}
@media screen and (min-width: 430px) {
  body header #phone {
    display: none;
  }
}
body header #desktop {
  background-color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
body header #desktop #desktop-nav {
  display: flex;
  justify-content: center;
}
body header #desktop #desktop-nav a {
  display: flex;
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(245, 240, 240);
  font-size: 0.9em;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
}
body header #desktop #desktop-nav a:hover {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}
body header #desktop #desktop-nav a:active {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(245, 240, 240);
  text-decoration: underline;
}
body header #desktop #desktop-nav a:focus {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}
body header #phone #dropdown #dropdown-content .drpdwn {
  display: flex;
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(245, 240, 240);
  font-size: 0.9em;
  text-decoration: none;
  justify-content: center;
  border-bottom: 1px solid white;
  border-radius: 5px;
}
body header #phone #dropdown #dropdown-content a:hover {
  padding: 30px;
  font-family: "Ikaros-light";
  color: rgb(181, 175, 175);
  text-decoration: overline;
}
body header #phone #dropdown #dropdown-content a:hover #dropdown {
  display: none;
  margin: auto;
}
body header #phone #dropdown #dropdown-content a:hover #dropdown #dropdown:hover #dropdown-content {
  display: inline;
}
body header #phone #dropdown #dropdown-content a:hover #dropdown #dropdown-content {
  display: inline;
}
body #welcome-section {
  align-items: center;
  background-image: linear-gradient(black 60%, rgb(16, 16, 16) 90%);
}
body #welcome-section .welcomebox {
  display: flex;
}
body #welcome-section .welcomebox .content #lpb {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
body #about-me {
  background-image: linear-gradient(rgb(255, 255, 255) 75%, rgb(228, 228, 228) 95%);
}
body #about-me .content #about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #about-me .content #about h2 {
  background-color: black;
  color: white;
  margin-bottom: 3vh;
  border-radius: 10px;
  min-width: 40vw;
  text-transform: uppercase;
}
body #about-me .content p {
  color: black;
  font-family: "Ikaros-regular";
  font-size: 0.9em;
  margin-top: 4vh;
  text-align: center;
}
body #about-me .content #picture {
  display: flex;
  margin-top: 5px;
}
body #about-me .content #picture img {
  width: auto;
  max-width: 15vw;
  height: auto;
  max-height: 15vw;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgb(32, 32, 32);
  transition: 0.3s ease-in-out;
}
body #about-me .content #picture img:hover {
  box-shadow: 0px 5px 10px rgb(32, 32, 32);
  transform: scale(1.1) translate(-1%, 1%);
}
body #about-me .content #arrow1 {
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
}
body #projects {
  display: flex;
  flex-direction: column;
  background-image: url(./icons&img/pexels-fauxels-3183150.jpg);
  background-size: cover;
  align-items: center;
}
body #projects .content {
  background-color: rgba(255, 255, 255, 0.867);
  border-radius: 10em;
}
body #projects .content #video-text {
  text-align: center;
  max-height: 45vh;
  padding: 10px;
}
body #projects .content #video-text h2 {
  color: black;
}
body #projects .content #video-text p {
  color: black;
  font-family: "ikaros-regular";
}
body #projects .content #video-text a {
  text-decoration: none;
  font-family: "Ikaros-regular";
  color: #f34f29;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  transition: transform 0.3s ease-in-out;
}
body #projects .content #video-text a:hover {
  color: #781904;
  text-decoration: overline;
  transition: 0.3s ease-in-out;
}
body #projects .content #video-text a:active {
  color: #f34f29;
  text-decoration: underline;
}
body #projects .content #video-text a:focus {
  color: #781904;
  text-decoration: overline;
}
body #resume {
  background-image: linear-gradient(rgb(39, 39, 39) 80%, rgb(0, 0, 0) 100%);
}
body #resume .content {
  display: flex;
  justify-content: space-between;
}
body #resume .content #skills {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
}
body #resume .content #skills table {
  display: flex;
  font-family: "ikaros-light";
  text-align: left;
}
body #resume .content #skills table tbody tr {
  padding: 2vh;
  display: flex;
  flex-flow: column;
  max-width: 55vw;
}
body #resume .content #skills table tbody tr th {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
body #resume .content #skills table tbody tr th img {
  padding-right: 1vw;
  width: 10%;
  height: 10%;
}
body #resume .content #skills table tbody tr .progress-bar {
  max-width: 75vw;
  height: 1vh;
  margin-top: 2vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
body #resume .content #skills table tbody tr .progress-bar div {
  height: 1.3vh;
  border-radius: 15px;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 0%;
}
body #resume .content #skills table tbody tr .progress-bar div span {
  display: flex;
  border: 2px solid;
  font-family: "ikaros-regular";
  align-items: center;
  justify-content: center;
  font-size: 80%;
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 0.2em;
}
body #resume .content #skills table tbody tr .progress-bar div.html {
  background-color: #e34c26;
  width: 65%;
}
body #resume .content #skills table tbody tr .progress-bar div.html span {
  border-color: #e34c26;
}
body #resume .content #skills table tbody tr .progress-bar div.css {
  background-color: #2965f1;
  width: 70%;
}
body #resume .content #skills table tbody tr .progress-bar div.css span {
  border-color: #2965f1;
}
body #resume .content #skills table tbody tr .progress-bar div.javascript {
  background-color: #ffc300;
  width: 30%;
}
body #resume .content #skills table tbody tr .progress-bar div.javascript span {
  border-color: #ffc300;
}
body #resume .content #skills table tbody tr .progress-bar div.git {
  background-color: #f34f29;
  width: 45%;
}
body #resume .content #skills table tbody tr .progress-bar div.git span {
  border-color: #f34f29;
}
body #resume .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
body #resume .arrow #arrow2 {
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
}
body #resume .arrow img {
  background-color: white;
  border-radius: 50%;
  color: white;
  width: 7%;
  height: 7%;
}
body #resume .resume-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.675);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  transition: 2s forwards;
}
body #resume .resume-window:target {
  visibility: visible;
  opacity: 1;
}
body #resume .resume-window div {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  justify-content: center;
  align-items: center;
}
body #resume .resume-window div img {
  max-width: 100%;
  max-height: 90vh;
}
body #resume .resume-window .window-close {
  color: black;
  font-family: "Ikaros-light";
  line-height: 50px;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
body #resume .resume-window .window-close:hover {
  color: grey;
}
body #resume h2 {
  color: white;
  margin: 1vh;
  transition: 0.3s ease-in-out;
}
body #resume h2:hover {
  transform: scale(1.1) translate(0%, 1%);
}
body #resume h2:focus {
  transform: scale(1.1) translate(0%, 1%);
}
body #resume p {
  color: white;
  font-family: "Ikaros-light";
  max-width: 40vw;
  align-self: center;
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: center;
}
body #resume a {
  text-decoration: none;
  text-align: center;
}
body #resume a :hover {
  text-decoration: overline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}
body #contact {
  background-image: linear-gradient(black 60%, rgb(16, 16, 16) 90%);
  text-align: center;
}
body #contact .content p {
  align-self: bottom;
}
body #contact .content h2 {
  margin: 0;
  color: white;
}
body #contact .content #green-for {
  color: rgb(34, 255, 0);
  text-transform: lowercase;
}
body #contact .content #for-statement {
  text-transform: lowercase;
  color: white;
}
body #contact .content #icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  min-width: 30vw;
  padding-top: 5vh;
  margin: auto;
}
body #contact .content #icons #mail {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
body #contact .content #icons #mail img {
  max-block-size: 2em;
}
body #contact .content #icons #mail:hover {
  transform: scale(1.2) translate(-1%, 1%);
}
body #contact .content #icons #callme img {
  max-block-size: 2em;
}
body #contact .content #icons #callme:hover {
  -webkit-animation: vibrate 0.5s infinite;
          animation: vibrate 0.5s infinite;
}
body #contact .content #icons #lkdin {
  transition: transform 1s ease-in-out;
}
body #contact .content #icons #lkdin img {
  max-block-size: 2em;
}
body #contact .content #icons #lkdin:hover {
  transform: rotate(180deg);
}
body #contact .content #icons .icon-box {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
}
body #contact .content #icons .icon-box p {
  align-self: bottom;
}/*# sourceMappingURL=style.css.map */